<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('partials/head') %>
    <title><%= title %></title>
</head>
<body>
    <%- include('partials/navigation.ejs') %>
    <main class="container vh-100 pt-2 text-center d-flex justify-content-center align-items-center">
        <section >
            <h1 class="display-1 d-flex justify-content-center">About Me</h1>
            <p class="d-flex justify-content-center">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Animi velit mollitia iste? Possimus aliquam autem iure, voluptatibus recusandae beatae laborum, sequi pariatur enim eos, a voluptas numquam. Quod voluptatibus magnam impedit accusamus illum praesentium odit repellendus, nulla error distinctio obcaecati dolore voluptas nesciunt saepe, pariatur repellat delectus iste nemo, ea consectetur! Consequuntur, tenetur. Pariatur, sunt. Sint quod soluta ullam, sunt earum voluptatem repellendus iure illum quasi libero. Quo, fugit? Ex nesciunt natus non illo repellendus eos, voluptatem velit ipsum. Natus velit, fugit rerum deserunt libero reiciendis consectetur deleniti iste suscipit, necessitatibus atque culpa ducimus nostrum, dolorem dignissimos illo facilis neque sint asperiores impedit. Rem consequuntur, deleniti asperiores nam doloremque fuga voluptatem consequatur explicabo iste quaerat numquam hic dolorum sed eaque suscipit quisquam quam ut sint et ipsa quibusdam accusantium dolores mollitia? Earum, quod, neque numquam, minima eligendi praesentium eaque voluptatum repellendus ducimus voluptates dolorem laudantium fugiat. Nihil non nobis a nesciunt nostrum blanditiis, hic voluptates, autem debitis officiis maxime natus illo iusto? Id at omnis beatae saepe itaque distinctio quae iusto labore, provident minima ratione sunt, quos et fugiat ea, aperiam iure? Fugit id iusto vel fugiat similique repudiandae impedit quod placeat ipsam reprehenderit, excepturi iste animi tempora, culpa sunt.</p>

        </section>
    </main>
    
    <%- include('partials/footer.ejs') %>
</body>
</html>